*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero__section{
    align-items: center;
    background:url(/src/img/Hero.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}